<h3>Resultados para: ' <%= @keyword %> '</h3>

<% if @characters.length > 0 %>
<h4>Personajes</h4>
<ul>
  <% 
    @characters.each do |character|
    id = character['url'].split('/')[-1] 
  %>
    <li><%= link_to character['name'], controller: "characters", action: "show", id: id %></li>
  <% end %>
</ul>
<% end %>

<% if @films.length > 0 %>
<h4>Películas</h4>
<ul>
  <% 
    @films.each do |film|
    id = film['url'].split('/')[-1] 
  %>
    <li><%= link_to film['title'], controller: "films", action: "show", id: id %></li>
  <% end %>
</ul>
<% end %>

<% if @planets.length > 0 %>
<h4>Planetas</h4>
  <ul>
    <% 
      @planets.each do |planet| 
      id = planet['url'].split('/')[-1]
    %>
      <li><%= link_to planet['name'], controller: "planets", action: "show", id: id %></li>
    <% end %>
  </ul>
<% end %>

<% if @starships.length > 0 %>
<h4>Naves</h4>
  <ul>
    <% 
      @starships.each do |starship| 
      id = starship['url'].split('/')[-1]
    %>
      <li><%= link_to starship['name'], controller: "starships", action: "show", id: id %></li>
    <% end %>
  </ul>
<% end %>
