<h1><%= @name %><h1>

<ul style="font-size: 1.5rem; font-weight: 300;">
  <li>Altura: <%= @height%></li>
  <li>Peso: <%= @mass%></li>
  <li>Color de pelo: <%= @hair_color%></li>
  <li>Color de piel: <%= @skin_color%></li>
  <li>Color de ojos: <%= @eye_color%></li>
  <li>Año de nacimiento: <%= @birth_year%></li>
  <li>Género: <%= @gender%></li>
  <li>Lugar de origen: 
    <%= 
      link_to @homeworld['name'], 
      controller: "planets", 
      action: "show", 
      id: @homeworld['url'].split('/')[-1] 
    %>
  </li>
  <li>
    Películas: 
      <ul>
        <% 
          @films.each do |film| 
          id = film['url'].split('/')[-1] 
        %>
          <li><%= link_to film['title'], controller: "films", action: "show", id: id %></li>
        <% end %>
      </ul>
  </li>
  <li>
    Naves: 
      <ul>
        <% 
          @starships.each do |starship| 
          id = starship['url'].split('/')[-1]
        %>
          <li><%= link_to starship['name'], controller: "starships", action: "show", id: id %></li>
        <% end %>
      </ul>
  </li>
</ul>
